
.mysystem-sheet {
    display:flex;
    flex-direction: row;
    
    min-height: 0;
    gap: 5px;



   .sidebar{
        width: 220px;
        display:flex;
        flex-direction: column;
        > .image {
            max-height: 180px;
            height: 180%;
            display: flex;
            justify-content: center;
        }
        > .sidebar_content {
            overflow-y: auto;

            > .sheet-tabs {
                flex-direction: column;
                --color-tabs-border: transparent;
                gap:0.5rem;
                margin: 1rem 0;

                > a {
                    border: 1px solid white;
                    border-radius:10px;
                    width:100%;
                    

                    &.active {
                        background-color:lightgray;
                        color:midnightblue;
                    }
                }
            }


            > .ptsContainer { 
                > .points {
                    display:flex;
                    flex-direction:row;

                    > .ptscontrol {
                        width:1.5em;
                        height:1.5em;
                        font-size : 1.5em;
                        border:1px solid lightgray;
                        border-radius: 0.6em;
                        text-align: center;

                        &:hover{
                            background-color:grey;
                            color:white;
                        }
                    }
                    > .pts {
                        flex-grow : 1;
                        > span{
                        
                            display:inline-block;
                            width:1.5em;
                            height:1.5em;
                            background-color: white;

                            &.active{
                                background-color: red;
                            }
                        }

                        &.blessure.legere > span {
                            mask: url("../assets/pics/blessure_legere.svg") no-repeat center / contain;
                            -webkit-mask: url("../assets/pics/blessure_legere.svg") no-repeat center / contain;
                        }

                        &.blessure.moyenne > span {
                            mask: url("../assets/pics/blessure_moyenne.svg") no-repeat center / contain;
                            -webkit-mask: url("../assets/pics/blessure_moyenne.svg") no-repeat center / contain;
                        }

                        &.blessure.grave > span {
                            mask: url("../assets/pics/blessure_grave.svg") no-repeat center / contain;
                            -webkit-mask: url("../assets/pics/blessure_grave.svg") no-repeat center / contain;
                        }

                        &.volonte > span {
                            mask: url("../assets/pics/pts_volonte.svg") no-repeat center / contain;
                            -webkit-mask: url("../assets/pics/pts_volonte.svg") no-repeat center / contain;
                        }

                        &.stress > span {
                            mask: url("../assets/pics/pts_stress.svg") no-repeat center / contain;
                            -webkit-mask: url("../assets/pics/pts_stress.svg") no-repeat center / contain;
                        }
                        
                    }
                }
            }

        }

        
    }

    main{
        flex: 1 0 200px;
        display:flex;
        flex-direction: column;
    

        > .main {
            min-height:0;
            display:flex;
            flex-direction: column;
        

            > .tabscontainer{
                min-height:0;
                display:flex;
                flex-direction: column;

                > section{
                    overflow-y: auto;
                    position:relative;

                    .actionscol {
                        flex: 0 0 30px;
                        display:flex;
                        flex-direction:column;
                        gap:3px;

                        > span {
                            width:28px;
                            height:28px;

                        }
                    }

                    > .actions {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height:35px;
                        width:35px;

                        > .action {
                            padding: 8px;
                            border: 2px solid lightgray;
                            width: auto;
                            display: inherit;
                            border-radius: 10px;
                            color: white;
                            height:100%;

                            img {
                                height:100%;
                            }
                        }
                    }

                    &[data-tab="main"]{
                        .actionscol > .repos {
                                --img-bg-url : url("../../assets/pics/repos.svg");
                            }
                        }
                    }
                }

                .competences {
                    table > tbody > tr > td {
                        text-align: center;
                        > label {
                            font-size:18px;
                        }

                        > div {
                            display:flex;
                            flex-direction:row;
                            justify-content: center;

                            > span{
                                line-height:2rem;
                            }
                            > span.malus {
                                
                                display:flex;
                                > input{
                                    width:40px;
                                }
                            }
                            > span.total {
                                font-weight:bold;
                                font-size:18px;
                                margin-left: 5px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .field ~ .field{
            margin-top:20px;
        }


        .tabitem {
            .lignetab{
                display:flex;

                >* {
                    flex-grow : 1;
                }
                >span.action {
                    flex : 0 0 50px;
                }

                
            }

            > :nth-child(2n) {
                background-color: var(--table-row-color-even);
            }
        }
    }
}